 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 803px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -21px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 471px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 471px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  line-height: 1;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 359px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 102px;
  height: 106px;
  margin: 14px 105px 0 113px;
}

.u-section-1 .u-text-2 {
  margin: 18px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 359px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-image-2 {
  width: 111px;
  height: 115px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 12px 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 359px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-1 .u-image-3 {
  width: 110px;
  height: 115px;
  margin: 14px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 797px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 388px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 388px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 296px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 80px;
    margin-right: 72px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 296px;
  }

  .u-section-1 .u-image-2 {
    height: 116px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 296px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 720px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 43px;
    margin-right: 35px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1410px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1297px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 59px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 334px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1214px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 210px;
  }
}